.personDetailsWrp {
  margin: 24px auto;
  max-width: 1440px;
}

.detailsContainer {
  /* display: flex; */
  gap: 48px;
}

.title {
  text-align: center;
  margin-bottom: 48px;
  font-size: 28px;
}

.infoContainer {
  /* display: flex; */
  flex-direction: column;
  gap: 24px;
  font-size: 22px;
}

.personImage {
  float: left;
  margin: 0 48px 48px 0;
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}

.infoItem {
  margin-bottom: 32px;
}
