.menuList {
  position: absolute;
  top: calc(100% + 16px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  color: azure;
  padding: 28px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 8px;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.522) 0px 14px 28px,
    rgba(0, 0, 0, 0.511) 0px 10px 10px;
}
.link {
  font-size: 18px;
  font-weight: 400;
}
.link:hover {
  color: #ffea05;
}
