.imageWrp {
  padding: 6px;
  background-color: aliceblue;
  border-radius: 8px;
  overflow-x: hidden;
}
.homeSwiper {
  padding: 12px 0;
  max-width: 1440px;
}
.image {
  overflow: hidden;
}

.swiper-pagination {
  margin-top: 12px !important;
}

.descr {
  text-align: center;
  margin: 12px auto;
  font-size: 16px;
  color: rgb(255, 234, 0);
}

.noContent {
  margin: 48px auto;
  text-align: center;
}
