@import "modern-normalize";
@import "reset.css";
body {
  font-family: var(--font-montserat), sans-serif;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  background: linear-gradient(135deg, #011f35, #043452), url("/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 75px;
}
