.menuListItem {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.navButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(230, 186, 13);
  padding: 24px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 22px;
}

.navButton:hover {
  color: #ffea05;
  box-shadow: rgba(229, 210, 9, 0.2) 0px 4px 8px,
    rgba(218, 187, 10, 0.2) 0px 6px 20px;
  transform: translateY(-2px);
}

.navigation {
  list-style: none;
  display: flex;
  gap: 24px;
}

